    body {
        min-height: 100vh;
        background: linear-gradient(to bottom, #0D2938, #ffffff);
        font-family: Arial, sans-serif;
    }

    .title {
        color: white;
        font-size: 60px;
        font-weight: bold;
    }

    button {

        width: 250px;
    }

    #graph-col {
        background-color: #ffffff;
    }

    #gameCanvas {
        border:1px solid #ffffff;
        background: radial-gradient(circle, #164560, #113549);
    }